.header{
  height: 34vw;
  margin: 30px;
  background: url('/header_img.png') no-repeat center center;
  ckground-size: cover;

 
  background-size:contain;
  position:relative;
}

.header-contents{
  position: absolute;
  display:flex;
  align-items: start;
  gap: 1.5vw;
  flex-direction: column;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

header-contents h2{
  font-weight: 500;
  color:white;
  font-size: max(4.5vw,22px);
}

header-contents p{
  color: white;
  font-size: 1vw;
  padding:1vw 2.3vw;
  background-color:white;
  font-size:max(1vw,13px);
  border-radius:50px;
}

/* From Uiverse.io by xueyuantan */ 
button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
 }
 
 button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 9em;
 }